@page "/childcontent"

<h1>Child Content</h1>

<p>before ChildContent</p>
<GrayScale>
    <p><i>child content here</i></p>
</GrayScale>
<p>after ChildContent</p>

<GrayScale>
    <h1>asdasdasd</h1>
</GrayScale>